[submodule "PicoGK"]
	path = Leap71_Test1/PicoGK
	url = https://github.com/leap71/PicoGK.git
[submodule "ShapeKernel"]
	path = Leap71_Test1/ShapeKernel
	url = https://github.com/leap71/LEAP71_ShapeKernel.git
